<div class="slider" slider>
    <ul class="slides">
        <li>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/s960x960/886978_550878501731544_1942109024964403894_o.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/13909022_644525299033530_6867448282503674330_o.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
                <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/13483382_624585194360874_1782137674162238154_o.jpg"> <!-- random image -->
                <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/1237183_551695028316558_8476604521955957055_o.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>
