<div class="slider" slider>
    <ul class="slides">
        <li>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/s960x960/886978_550878501731544_1942109024964403894_o.jpg">
            <div class="caption center-align card-panel">
                <h3>Get some flower crowns...</h3>
                <h5 class="light grey-text text-lighten-3">...They make your head smell good</h5>
            </div>
        </li>
        <li>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/13909022_644525299033530_6867448282503674330_o.jpg">
            <div class="caption left-align">
                <h3>Missed out on a crown at Coachella?</h3>
                <h5 class="light grey-text text-lighten-3">Here's your chance!</h5>
            </div>
        </li>
        <li>
                <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/13483382_624585194360874_1782137674162238154_o.jpg">
                <div class="caption right-align">
            <h3>Look sooo hip...</h3>
            <h5 class="light grey-text text-lighten-3">...like...really hip...</h5>
            </div>
        </li>
        <li>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/1237183_551695028316558_8476604521955957055_o.jpg">
            <div class="caption center-align">
                <h3>Be the floweriest hipster you can be!</h3>
                <h5 class="light grey-text text-lighten-3">*Stomp* *Clap* *Hey!*</h5>
            </div>
        </li>
    </ul>
</div>
