<div class="container">
  <div class="row">
    <div class="col m12 card-panel black-text">
      <nav class="list teal">
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="right">
            <li> <a href="#/cart"><i class="material-icons">shopping_cart</i></a> </li>
          </ul>
        </div>
      </nav>
      <div class="row card-panel"ng-repeat="item in vm.inventory">
        <div class="col m4 s12">
          <div class="shop-image-div">
            <span class="oos" ng-show="{{!item.inStock}}">Out of Stock!</span>
            <img class="shop-image" ng-src="{{item.imageUrl}}" alt="image" />
          </div>
        </div>
        <div class="col m8 s12">
          <div class="item-info">
            <h3>{{item.name}} </h3>
            <h4>{{item.price | currency}}</h4>
            <p><b>Caffien Scale:</b> {{item.caffeineScale}}</p>
            <p><b>Ingredients:</b> {{item.ingredients}}</p>
            <ul><b>notes:</b>
              <li class="notes" ng-repeat="category in item.categories">{{category}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
