<div class="container">
  <div class="row cart-nav">
    <ul id='priceDropdown' class='dropdown-content'>
      <li><a ng-click="vm.priceSort('-price')">Highest to Lowest</a></li>
      <li><a ng-click="vm.priceSort('price')">Lowest to Highest</a></li>
    </ul>
    <ul id='categoryDropdown' class='dropdown-content'>
      <li ng-repeat="category in vm.categories" ng-click="vm.categoryFilter(category)"><a ng-model="category">{{category}}</a></li>
    </ul>
    <nav class="list #ee6e73">
      <div class="nav-wrapper left">
        <ul id="nav-mobile" class="left">
          <li>
            <a class='dropdown-button btn' data-activates='categoryDropdown' dropdown data-hover="true">Sort by Category</a>
          </li>
          <li>
            <div class="input-field col s6">
              <i class="material-icons prefix">search</i>
              <input value="Search" ng-model="searchText" id="search" type="text" class="validate">
            </div>
          </li>
        </ul>
      </div>
      <div class="nav-wrapper right">
        <ul>
          <li>
            <a class='dropdown-button btn' data-activates='priceDropdown' dropdown data-hover="true">Sort by price</a>
          </li>
          <li>
            <a href="#/cart" class="wave effect waves-light btn">
              <span>Checkout | Bag:
              <span ng-show="vm.cartCount() < 1"> Empty!</span>
              <span ng-show="vm.cartCount() > 0" class="count">{{vm.cartCount()}}</span>
            </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="item-list row card-panel"ng-repeat="item in vm.inventory | orderBy: vm.price | filter : vm.category | filter : searchText">
    <div class="col m4 s12">
      <div class="shop-image-div">
        <img class="shop-image" ng-src="{{item.imageUrl}}" alt="image" />
      </div>
    </div>
    <div class="col m6 s8">
      <div class="item-info">
        <h3>{{item.name}} </h3>
        <h4>{{item.price | monetize | currency}}</h4>
        <p><b>Ingredients:</b> {{item.ingredients}}</p>
        <div class="row">
          <div class="col m4">
            <ul><b>notes:</b>
              <li class="notes" ng-repeat="category in item.categories">{{category}}</li>
            </ul>
          </div>
          <div class="col m4">
            <p><b>Caffeine Scale:</b> {{item.caffeineScale}}</p>
          </div>
          <div class="col m4">
            <p><b>Rating:</b> {{item.rating}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="class col m2 s4">
      <form class="addForm" name="addForm" ng-submit="vm.addToCart(item)" method="post">
        <div input-field>
          <label for="quantity-select">Quantity: </label>
          <select class="quantity-select right" ng-model="item.multiplier" ng-init="item.multiplier = 1" ng-options="number for number in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" material-select watch ng-disabled="!item.inStock">
          </select>
        </div>
        <div class="">
          <button class="wave effect waves-light btn add-to-cart" ng-disabled="!item.inStock">Add To Cart</button>
          <span class="oos" ng-show="{{!item.inStock}}">Out of Stock!</span>
        </div>
      </form>

    </div>
  </div>
</div>
