<div class="container">
  <div class="row">
    <div class="col m12 card-panel black-text">
      <nav class="list teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><cart></cart></li>
          </ul>
        </div>
      </nav>
      <table>
        <thead>
          <tr>
              <th data-field="id">Item</th>
              <th data-field="name">Information</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
