<div class="container">
  <div class="row">
    <div class="col m12 card-panel black-text">
      <nav class="list teal">
        <div class="nav-wrapper">
          <!-- <a href="#" class="brand-logo">Logo</a> -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li> <a href="#/cart"><i class="material-icons">shopping_cart</i></a> </li>
          </ul>
        </div>
      </nav>
      <table>
        <thead>
          <tr>
              <th data-field="id">Item</th>
              <th data-field="name">Information</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="item in vm.inventory">
            <td>
              <div class="item-image">
                <span class="oos" ng-show="{{!item.inStock}}">Out of Stock!</span>
                <img ng-src="{{item.imageUrl}}" alt="" />
              </div>
            </td>
            <td>
              <div class="item-info">
                <h3>{{item.name}} </h3>
                <h4>{{item.price | currency}}</h4>
                <p><b>Caffien Scale:</b> {{item.caffeineScale}}</p>
                <p><b>Ingredients:</b> {{item.ingredients}}</p>
                <ul><b>notes:</b>
                  <li class="notes" ng-repeat="category in item.categories">{{category}}</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
