/* add custom styles */
body {
  background-image: url('../img/wild_flowers.png')
}
.slides {
  height: 610px !important;
}
.slider {
  height: 655px !important;
  margin-top: 40px;
}
.caption {
  background-color: rgba(0, 150, 136, 0.7);
  border-radius: 5px;
}
.list {
  width: 100%;
  border-radius: 2px;
}
.indicator-item.active {
  background-color: #009688 !important;
}
.brand-logo {
  font-family: 'Dancing Script', cursive;
}
.logo {
  margin: 0 15px 0 15px;
  height: 44px;
  border-radius: 50%;
  vertical-align: middle;
}
.oos {
  color: rgb(247, 75, 75);
  font-size: 20px;
  padding-top: 15px;
}
.quantity-select{
  width: 50px;
}
.cart-nav {
  margin: 15px 0px 15px 0px;
}
.add-to-cart {
  width: 100%;
  padding: 0px;
  margin-bottom: 15px;
}
#search {
  margin-left: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #26A69A;
  width: 170px;
}
