/* add custom styles */
body {
  background-image: url('../img/wild_flowers.png')
}
.nav-wrapper {
  padding: 0px 10px 0px 10px;
}
.slides {
  height: 610px !important;
}
.slider {
  height: 655px !important;
  margin-top: 40px;
}
.caption {
  background-color: rgba(0, 150, 136, 0.7);
  border-radius: 5px;
}
.list {
  margin-top: 10px;
  box-shadow: none;
  border-radius: 2px;
}
.indicator-item.active {
  background-color: #009688 !important;
}
