/* add custom styles */
body {
  background-image: url('../img/wild_flowers.png')
}
.nav-wrapper {
  padding: 0px 10px 0px 10px;
}
.slides {
  height: 610px !important;
}
.slider {
  height: 655px !important;
  margin-top: 40px;
}
